.amp-chromecast-sender {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  background-color: #000000;
}
.amp-chromecast-sender .amp-fullscreen,
.amp-chromecast-sender .amp-pause-overlay {
  display: none;
}
.amp-chromecast-sender-msg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  display: table;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #000000;
}
.amp-chromecast-sender-msg .amp-chromecast-sender-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  color: #FFFFFE;
}
.amp-chromecast:hover {
  background-size: contain !important;
}
.amp-remote-connecting .amp-chromecast {
  background-image: url(chromecast-connecting.svg);
}
.amp-remote-connected .amp-chromecast,
.amp-remote-playback .amp-chromecast,
.amp-remote-connected .amp-chromecast:hover,
.amp-remote-playback .amp-chromecast:hover {
  background-image: url(chromecast-connected.svg);
}
.amp-remote-playback.amp-mobile .amp-jump-back,
.amp-remote-playback.amp-mobile .amp-jump-forward,
.amp-remote-playback.amp-mobile .amp-pause-overlay {
  display: none !important;
}
