<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.streamroot.lumen.delivery.client.samples.theoplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${product} ${player} ${flavor} ${language}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryClient"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".Application">

        <meta-data
            android:name="io.streamroot.lumen.delivery.client.DeliveryClientKey"
            android:value="demoswebsiteandpartners" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${deeplinkDefault}" />
                <data android:host="launch" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${deeplinkSpecific}" />
                <data android:host="launch" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player"
            android:exported="false" />
    </application>
</manifest>