@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.amp-react {
  pointer-events: none;
}
.amp-overlays.amp-layer {
  z-index: 0;
}
.amp-player:after {
  content: "\f028";
  font: normal normal normal 14px/1 FontAwesome;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}
.amp-ui {
  font: normal normal normal 14px/1 Arial;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  color: #FFFFFF;
}
.amp-component {
  cursor: pointer;
  pointer-events: all;
}
.amp-component:focus {
  outline: none;
}
.amp-icon {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #DDDDDD;
  padding: 0px;
  background: none;
  border: none;
  width: 1em;
  height: 1em;
  margin: 0em 0.5em 0em 0.5em;
}
.amp-icon:hover {
  color: #FFFFFF;
}
.amp-control {
  padding: 0px;
  background: none;
  border: none;
}
.amp-control:hover {
  background: none;
}
.amp-bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: all;
}
.amp-bar .amp-spacer {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.amp-bg {
  background-color: rgba(51, 51, 51, 0.85);
}
.amp-hover:hover {
  background-color: rgba(85, 85, 85, 0.85);
}
.amp-focus {
  outline: #9ecaed solid 2px !important;
}
.amp-interactive {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.amp-flash .amp-interactive {
  display: none;
}
.amp-bold {
  font-weight: bold;
}
.amp-touch iframe {
  background: none;
}
.amp-full-screen.amp-idle {
  cursor: none;
}
@keyframes edge-pulse-left {
  0% {
    box-shadow: inset 20em 0 10em rgba(224, 223, 223, 0.35);
  }
  100% {
    box-shadow: inset 0 0 2em rgba(239, 237, 237, 0.2);
  }
}
@keyframes edge-pulse-right {
  0% {
    box-shadow: inset -20em 0 10em rgba(224, 223, 223, 0.35);
  }
  100% {
    box-shadow: inset 0 0 2em rgba(239, 237, 237, 0.2);
  }
}
.amp-in-forward.amp-mobile {
  animation: edge-pulse-right 0.3s 1;
}
.amp-in-rewind.amp-mobile {
  animation: edge-pulse-left 0.3s 1;
}
.amp-slide-in-out {
  transition: bottom 0.4s ease-out 0.1s;
}
.amp-controls {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0em 0.6em 0em 0.6em;
  bottom: -2.86em;
  height: 2.86em;
}
.amp-active .amp-controls,
.amp-ready .amp-controls,
.amp-paused .amp-controls,
.amp-ended .amp-controls {
  bottom: 0px;
}
.amp-controls-fixed .amp-controls,
.amp-controls-persistent .amp-controls,
.amp-audio .amp-controls {
  bottom: 0px;
}
.amp-controls-none .amp-controls {
  display: none;
}
.amp-controls-persistent .amp-video,
.amp-controls-persistent .amp-overlays {
  bottom: 2.86em;
  height: auto;
  font: normal normal normal 14px/1 Arial;
}
.amp-playpause:before {
  content: "\f04b";
}
.amp-playing .amp-playpause:before {
  content: "\f04c";
}
.amp-waiting .amp-playpause {
  pointer-events: none;
  opacity: 50%;
}
.amp-rewind:before {
  content: "\f0e2";
}
.amp-time-display {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.75em;
  margin: 0em 0.5em 0em 0.75em;
  display: flex;
}
.amp-time-separator {
  margin: 0px 5px 0px 5px;
}
.amp-time-separator:before {
  content: "/";
}
.amp-live .amp-current-time,
.amp-live .amp-time-separator,
.amp-live .amp-duration {
  display: none;
}
.amp-live-label {
  display: none;
  color: #ff0000;
  cursor: pointer;
  margin-left: 1em;
}
.amp-dvr .amp-live-label,
.amp-is-live .amp-live-label {
  display: block;
}
.amp-pause-overlay {
  width: 2em;
  height: 2em;
  margin: -1em 0 0 -1em;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  border-radius: 3.5em;
  letter-spacing: -0.25em;
  text-align: center;
  line-height: 2em;
}
.amp-pause-overlay:before {
  content: "\f04b";
}
.amp-waiting .amp-pause-overlay,
.amp-playing .amp-pause-overlay,
.amp-qualitychange-manual .amp-pause-overlay,
.amp-busy .amp-pause-overlay {
  display: none;
}
.amp-ended .amp-pause-overlay:before {
  content: "\f0e2";
  letter-spacing: 0em;
}
.amp-playing.amp-active.amp-mobile .amp-pause-overlay:before {
  letter-spacing: 0em;
  content: "\f04c";
}
.amp-playing.amp-active.amp-mobile .amp-pause-overlay {
  display: block;
}
.amp-waiting .amp-active.amp-mobile .amp-pause-overlay,
.amp-qualitychange-manual .amp-active.amp-mobile .amp-pause-overlay,
.amp-busy .amp-active.amp-mobile .amp-pause-overlay {
  display: none;
}
.amp-cc {
  width: 1.2em;
  height: 1.2em;
  /* This needs to be replace with the newer "amp-" class names */
}
.amp-cc:before {
  content: "\f20a";
}
.amp-cc.amp-off {
  text-decoration: line-through;
}
.amp-cc-active .amp-cc:before {
  border-bottom: 2px solid red;
}
.amp-ad-break .amp-cc {
  display: none;
}
.amp-captioning.amp-overlay {
  bottom: 0px !important;
}
.amp-inactive .amp-captioning.amp-overlay {
  bottom: 0.5em !important;
}
.amp-active .amp-captioning.amp-overlay,
.amp-paused .amp-captioning.amp-overlay,
.amp-controls-fixed .amp-captioning.amp-overlay {
  bottom: 3.36em !important;
}
.amp-controls-persistent .amp-captioning.amp-overlay {
  bottom: 0.5em !important;
}
.amp-controls-none .amp-captioning.amp-overlay {
  bottom: 0px !important;
}
.amp-caption-settings {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15%;
  font-family: Arial;
  font-size: 12px;
  color: #E4E4E4;
  max-width: 390px;
  width: 90%;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  z-index: 112;
  padding: 2px 2px;
  background: #7d7e7d;
  /* Old browsers */
  pointer-events: auto;
}
.amp-captioning-titlebar {
  padding: 0.3em 1em 0.3em 0em;
  color: #F4F4F4;
  margin-bottom: 2px;
  background: #7d7e7d;
  /* Old browsers */
  background-color: #414141;
}
.amp-captioning-title {
  margin: 0.1em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.amp-captioning-titlebar-close {
  float: right;
  width: 21px;
  margin: 0.5em;
  padding: 1px;
  height: 20px;
  border-radius: 0.5em;
  background-color: #f4f4f4;
}
.amp-captioning-row {
  background-color: #414141;
  clear: both;
  display: inline-block;
  width: 100%;
  margin-bottom: -4px;
}
.amp-captioning-label,
.amp-captioning-preset {
  float: left;
}
.amp-captioning-label {
  margin: 4px 0.5em;
  max-width: 55px;
  min-width: 55px;
}
.amp-captioning-dropdown {
  float: left;
  max-width: 100px;
  min-width: 100px;
  margin: 4px 10px 4px 0px;
}
.amp-captioning-label-small {
  float: left;
  margin: 4px 0.5em;
}
.amp-captioning-footer-button {
  outline: 0 none;
  float: right;
  background-color: #646464;
  border-color: #101010;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #E4E4E4;
  font-size: 90%;
  line-height: 16px;
  min-height: 16px;
  min-width: 26px;
  width: 50px;
  margin: 2px 2px 0px 2px;
  padding: 1px;
  text-align: center;
}
.amp-captioning-footer-button:hover,
.amp-captioning-footer-button:active {
  background-color: #e6e6e6;
  color: #101010;
  border-color: #101010;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 90%;
  line-height: 16px;
  padding: 1px;
  text-align: center;
}
.amp-captioning-footer-continer {
  display: inline-block;
  width: 100%;
}
.amp-captioning-label:nth-child(3) {
  max-width: 56px;
  min-width: 56px;
}
.amp-captioning-preset {
  border: 1px #000000 solid;
  float: left;
  margin: 0.4em 0.3em;
  padding: 0em 0.4em;
  cursor: pointer;
}
.amp-captioning-preset1 {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}
.amp-captioning-preset2 {
  color: #FFFF00;
  background-color: rgba(0, 0, 0, 0);
}
.amp-captioning-preset3 {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.3);
}
.amp-captioning-preset4 {
  color: #FFFF00;
  background-color: rgba(0, 0, 0, 0.5);
}
.amp-captioning-color-picker {
  border: 1px #ffffff solid;
  float: left;
  margin: 0.3em 0.3em;
  width: 20px;
  height: 20px;
}
/*Color Picker Styles */
.amp-colorpicker-palette {
  width: 154px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #C4C4C4;
  padding: 2px;
  display: none;
  z-index: 9999;
  top: 4px;
  pointer-events: auto;
}
.amp-colorpicker-swatch {
  height: 12px;
  width: 12px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin: 1.5px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
.amp-colorpicker-slider {
  width: 60%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #FF0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #FF0000));
  background: -webkit-linear-gradient(top, #000000 0%, #FF0000 100%);
  background: -o-linear-gradient(top, #000000 0%, #FF0000 100%);
  background: -ms-linear-gradient(top, #000000 0%, #FF0000 100%);
  background: linear-gradient(to bottom, #000000 0%, #FF0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#FF0000', GradientType=0);
}
.amp-caption-text-preview {
  position: relative;
  display: block;
  bottom: auto !important;
}
.amp-captioning-advanced-container {
  display: none;
}
.amp-captioning-advanced-container.amp-open {
  display: block;
}
.amp-captioning-advanced-button {
  background: none;
  border: none;
  padding: 0;
  border-bottom: 1px solid #E4E4E4;
  color: #E4E4E4;
  cursor: pointer;
}
.amp-toggle-btn {
  float: right;
  cursor: pointer;
  outline: 0 none;
  border-radius: 0.5em;
  background-color: #646464;
  border-color: #101010;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #E4E4E4;
  font-size: 90%;
  padding: 0px 2px 0px 2px;
  text-align: center;
  margin: 0px;
}
.amp-toggle-btn.amp-selected {
  background-color: #e6e6e6;
  color: #101010;
}
.amp-captioning-floater-btnselected {
  background-color: #e6e6e6;
  color: #101010;
  border-color: #101010;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 90%;
  line-height: 20px;
  min-height: 16px;
  min-width: 26px;
  padding: 1px;
  text-align: center;
}
.amp-captioning-floater-btndeselected {
  background-color: #646464;
  border-color: #101010;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #E4E4E4;
  font-size: 90%;
  line-height: 20px;
  min-height: 16px;
  min-width: 26px;
  padding: 1px;
  text-align: center;
}
.amp-list-item .amp-icon {
  padding: 0px 1em 0px 0px;
}
.amp-list-item .amp-icon:before {
  content: "\f00c";
  visibility: hidden;
}
.amp-list-item-selected.amp-icon:before {
  visibility: visible;
}
.amp-captioning-settings.amp-panel.amp-open .amp-option-button {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
.amp-captioning-settings.amp-panel.amp-open .amp-option-button:focus {
  outline: none;
}
.amp-captioning-home .amp-icon {
  visibility: hidden;
}
.amp-captioning-home .amp-list-highlight .amp-icon {
  margin-left: 0px;
  padding-left: 0px;
}
.amp-captioning-home .amp-icon.amp-list-item-selected,
.amp-captioning-home .amp-list-highlight .amp-icon {
  visibility: visible;
}
.amp-cc-active .amp-captioning-home .amp-off-icon {
  visibility: hidden;
}
.amp-captioning-home .amp-off-icon {
  visibility: visible;
}
.amp-captioning-options .amp-label {
  padding-right: 2em;
}
.amp-captioning-settings.amp-panel.amp-open .amp-list-item {
  cursor: pointer;
  overflow: hidden;
}
.amp-list-highlight:hover {
  cursor: pointer;
}
.amp-captioning-settings.amp-panel.amp-open .amp-list-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 0px 0.5em 0px;
  font-weight: bold;
  font-size: 13px;
}
.amp-list-item.amp-list-title .amp-icon.amp-icon-left {
  margin: 0px 0.5em 0px 0px;
}
.amp-right {
  float: right;
}
.amp-left {
  float: left;
}
.amp-icon.amp-icon-right {
  width: 10px;
  height: 100%;
}
.amp-icon.amp-icon-right:before {
  content: "\f105";
  visibility: visible;
}
.amp-icon.amp-icon-left {
  width: 10px;
  height: 100%;
}
.amp-icon.amp-icon-left:before {
  content: "\f053";
  visibility: visible;
}
.amp-list-item.amp-list-title {
  text-align: left;
}
.amp-list-highlight {
  font-weight: bold;
}
.amp-list-highlight,
.amp-option-button {
  display: inline-block;
}
.amp-slider {
  position: relative;
  height: 1em;
}
.amp-slider .amp-track {
  position: absolute;
  top: 0.25em;
  background-color: rgba(17, 17, 17, 0.8);
  width: 100%;
  height: 0.5em;
}
.amp-slider .amp-range {
  position: absolute;
  top: 0.25em;
  background-color: rgba(17, 17, 17, 0.3);
  height: 0.5em;
  width: 100%;
}
.amp-slider .amp-value {
  position: absolute;
  top: 0.25em;
  height: 0.5em;
  background-color: #555555;
}
.amp-slider .amp-handle {
  position: relative;
  top: 0.125em;
  margin-left: -0.375em;
  width: 0.75em;
  height: 0.75em;
  border-radius: 0.375em;
  background-color: #999999;
}
.amp-slider .amp-handle:hover {
  background-color: #CCCCCC;
}
.amp-slider.amp-vertical {
  position: relative;
  height: 75.5px;
}
.amp-slider.amp-vertical .amp-track {
  top: auto;
  left: 0.25em;
  width: 0.5em;
  height: 100%;
}
.amp-slider.amp-vertical .amp-range {
  top: auto;
  left: 0.25em;
  height: 100%;
}
.amp-slider.amp-vertical .amp-value {
  top: auto;
  height: auto;
  bottom: 0px;
  left: 0.25em;
  width: 0.5em;
}
.amp-slider.amp-vertical .amp-handle {
  top: auto;
  margin-left: auto;
  left: 0.125em;
  margin-top: 74.25px;
  margin-bottom: -0.375em;
}
.amp-volume {
  margin: 0em 0.25em 0em 0.25em;
  width: 100px;
  display: none;
}
.amp-volume.amp-vertical {
  margin: 0;
  height: 75px;
  width: 0.5em;
  position: relative;
  bottom: 4.69em;
  right: 1.4em;
  z-index: 10;
}
.amp-open {
  display: block;
}
.amp-volume-panel {
  width: 100%;
  height: 85px;
  padding: 10px 10px 0px 10px;
  margin-left: -5px;
  float: left;
  position: absolute;
  bottom: 0px;
}
.amp-mute:before {
  content: "\f028";
}
.amp-low.amp-mute:before {
  content: "\f027";
}
.amp-muted.amp-mute:before {
  content: "\f026";
}
.amp-muted.amp-mute:after {
  position: relative;
  content: "x";
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  top: -0.1451em;
  left: 0.1em;
  vertical-align: middle;
}
.amp-progress {
  position: absolute;
  width: 100%;
  bottom: -0.75em;
  margin: 0px;
  z-index: 1;
}
.amp-inactive .amp-progress {
  bottom: -0.25em;
}
.amp-active .amp-progress,
.amp-ready .amp-progress,
.amp-paused .amp-progress,
.amp-ended .amp-progress,
.amp-controls-fixed .amp-progress,
.amp-controls-persistent .amp-progress,
.amp-audio .amp-progress {
  bottom: 2.61em;
}
.amp-progress .amp-handle {
  top: 0.25em;
  margin-left: -0.25em;
  width: 0.25em;
  height: 0.5em;
  border-radius: 0em;
}
.amp-touch .amp-progress .amp-handle {
  touch-action: none;
}
.amp-active .amp-progress .amp-handle {
  top: 0.125em;
  margin-left: -0.375em;
  width: 0.75em;
  height: 0.75em;
  border-radius: 0.375em;
}
.amp-ad-break .amp-progress .amp-handle {
  top: 0.25em;
  margin-left: -0.25em;
  width: 0.25em;
  height: 0.5em;
  border-radius: 0em;
}
.amp-active.amp-mobile .amp-progress .amp-handle,
.amp-paused.amp-mobile .amp-progress .amp-handle,
.amp-ready.amp-mobile .amp-progress .amp-handle,
.amp-ended.amp-mobile .amp-progress .amp-handle {
  width: 1.5em;
  height: 1.5em;
  margin-left: -0.375em;
  top: -0.25em;
  border-radius: 0.75em;
}
.amp-controls-none .amp-progress,
.amp-live .amp-progress {
  display: none;
}
.amp-progress .amp-preview {
  position: absolute;
  white-space: nowrap;
  font-family: sans-serif;
  padding: 0.3em;
  font-size: 0.85em;
  display: none;
  text-align: center;
}
.amp-progress .amp-preview .amp-thumb {
  margin-bottom: 0.3em;
}
.amp-progress:hover .amp-preview,
.amp-progress.amp-dragging .amp-preview {
  display: block;
}
.amp-ui.amp-open .amp-progress .amp-preview {
  display: none;
}
.amp-progress .amp-markers {
  position: absolute;
  width: 100%;
  top: 0px;
}
.amp-ad-break .amp-progress .amp-markers {
  display: none;
}
.amp-progress .amp-marker {
  position: absolute;
  top: 0.25em;
  width: 0.3em;
  height: 0.5em;
  background-color: #f0ad4e;
  border-radius: 0;
}
.amp-fullscreen:before {
  content: "\f065";
}
.amp-full-screen .amp-fullscreen:before {
  content: "\f066";
}
.amp-ipad.amp-ready .amp-fullscreen,
.amp-iphone.amp-ready .amp-fullscreen {
  /*Prevents fullscreen toggle when content has not been loaded beforehand*/
  pointer-events: none;
  color: #c0c0c0;
}
.amp-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  pointer-events: none;
  object-fit: contain;
}
.amp-ready .amp-poster,
.amp-remote-playback .amp-poster,
.amp-audio .amp-poster {
  display: block;
}
.amp-bitrate.amp-icon:before {
  content: "\f013";
}
.amp-bitrate .amp-list-item span {
  padding: 0px 0.5em 0px 0px;
}
.amp-bitrate .amp-list-item .amp-icon {
  padding: 0px 0px 0px 0.1em;
}
.amp-settings.amp-panel .amp-list-item .amp-label {
  padding: 0px 1em 0px 0px;
}
.amp-settings.amp-panel .amp-list-item .amp-icon.amp-icon-right.amp-right {
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 1px;
}
.amp-label {
  float: left;
}
.amp-settings.amp-icon.amp-control:before {
  content: "\f013";
}
.amp-ad-break .amp-settings.amp-icon.amp-control {
  display: none;
}
.amp-autoplay-on:focus,
.amp-autoplay-off:focus {
  outline: none;
}
.amp-toggle.amp-icon {
  padding-top: 0.15em;
  width: 1.21em;
}
.amp-toggle.amp-icon:before {
  visibility: visible;
  font-weight: bolder;
}
.amp-autoplay-off .amp-toggle.amp-icon:before {
  content: "\f204";
}
.amp-autoplay-on .amp-toggle.amp-icon:before {
  content: "\f205";
}
.amp-share.amp-panel {
  right: 30px;
}
.amp-share.amp-panel .amp-list-item .amp-icon.amp-facebook:before {
  content: "\f230";
  visibility: visible;
}
.amp-share.amp-panel .amp-list-item .amp-icon.amp-twitter:before {
  content: "\f081";
  visibility: visible;
}
.amp-share.amp-panel .amp-list-item .amp-icon.amp-email:before {
  content: "\f0e0";
  visibility: visible;
}
.amp-share.amp-panel .amp-list-item .amp-icon.amp-embed:before {
  content: "\f0c1";
  visibility: visible;
}
.amp-share.amp-icon.amp-control:before {
  content: "\f064";
}
.amp-live .amp-jump-back {
  display: none;
}
.amp-jump-back:before {
  content: "\f0e2";
}
.amp-waiting .amp-jump-back {
  pointer-events: none;
  opacity: 50%;
}
.amp-ad-break .amp-jump-back {
  display: none;
}
.amp-mobile .amp-jump-back {
  display: none;
  width: 2em;
  height: 2em;
  margin: -1em 0 0 -1em;
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 2.3em;
  letter-spacing: -0.25em;
}
.amp-active.amp-mobile .amp-jump-back,
.amp-ready.amp-mobile .amp-jump-back,
.amp-paused.amp-mobile .amp-jump-back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.amp-live.amp-mobile .amp-jump-back,
.amp-ended.amp-mobile .amp-jump-back,
.amp-ad-break.amp-mobile .amp-jump-back {
  display: none;
}
.amp-live .amp-jump-forward,
.amp-ended .amp-jump-forward {
  display: none;
}
.amp-jump-forward:before {
  content: "\f01e";
}
.amp-waiting .amp-jump-forward {
  pointer-events: none;
  opacity: 50%;
}
.amp-ad-break .amp-jump-forward {
  display: none;
}
.amp-mobile .amp-jump-forward {
  display: none;
  width: 2em;
  height: 2em;
  margin: -1em 0 0 -1em;
  position: absolute;
  top: 50%;
  left: 75%;
  font-size: 2.3em;
  letter-spacing: -0.25em;
}
.amp-active.amp-mobile .amp-jump-forward,
.amp-ready.amp-mobile .amp-jump-forward,
.amp-paused.amp-mobile .amp-jump-forward {
  display: flex;
  align-items: center;
  justify-content: center;
}
.amp-live.amp-mobile .amp-jump-forward,
.amp-ended.amp-mobile .amp-jump-forward,
.amp-ad-break.amp-mobile .amp-jump-forward {
  display: none;
}
.amp-title {
  position: absolute;
  margin: 0.5em;
  font-size: 1.25em;
  display: none;
}
.amp-ready .amp-title,
.amp-remote-playback .amp-title {
  display: block;
}
.amp-error-msg {
  background-color: #000000;
  font-size: 1.25em;
  font-weight: bold;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.amp-error .amp-error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.amp-context-menu {
  font: normal normal normal 14px/1 Arial;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #EEEEEE;
  position: absolute;
  padding: 0px;
  margin: 0px;
  text-align: left;
  padding: 0.2em 0.5em;
  z-index: 9999;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.amp-context-item {
  font-size: 0.857em;
  list-style-type: none;
  line-height: 2em;
  padding: 0px;
  cursor: text;
}
.amp-context-item:hover {
  color: #FFFFFF;
}
.amp-context-item.amp-selectable {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.amp-panel {
  position: absolute;
  right: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.857em;
  margin: 0.714em;
  padding: 1em;
  cursor: default;
  max-height: calc(90% - 2.86em - 4em);
  overflow: auto;
  bottom: 2.86em;
  display: none;
  pointer-events: all;
}
.amp-panel.amp-open {
  display: block;
}
.amp-ad-break .amp-panel {
  display: none;
}
.amp-list-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.4em 0.7em;
  font-weight: bold;
  font-size: 0.93em;
  padding-left: 0px;
}
.amp-list-title:hover {
  background: none;
}
.amp-list-item {
  padding: 0.4em 0.5em;
  cursor: pointer;
  overflow: hidden;
  background: none;
}
.amp-mobile  .amp-list-item {
  font-size: 0.87em;
  padding: 0.5em 0 0.5em 0;
}
.amp-mobile  .amp-captioning-settings.amp-panel.amp-open .amp-list-title {
  padding: 0.4em 0.7em 0.4em 0;
  font-size: 0.93em;
}
.amp-ads {
  display: none;
  width: 100%;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.amp-ad-break .amp-ads,
.amp-ad-overlaymode .amp-ads {
  display: block;
}
.amp-controls-persistent .amp-ads {
  bottom: 2.86em;
}
.amp-ad-container {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: all;
}
.amp-ad-container iframe {
  pointer-events: all;
  background-color: transparent;
}
.amp-ad-info {
  position: absolute;
  width: 100%;
  text-shadow: 1px 1px 2px #000000;
  pointer-events: none;
}
.amp-ad-info .amp-ad-component {
  margin: 0.5em;
}
.amp-touch .amp-ad-info .amp-spacer {
  display: none;
}
.amp-ad-mode .amp-ad-banner {
  display: none !important;
}
.amp-ad-break .amp-progress {
  pointer-events: none;
}
.amp-ad-break .amp-caption-text {
  display: none;
}
.amp-ad-break .amp-interactive {
  pointer-events: none;
}
.amp-ad-break.amp-touch video::-webkit-media-text-track-display-backdrop {
  display: none;
}
.amp-controls-auto.amp-touch.amp-ad-break .amp-ad-container iframe,
.amp-controls-fixed.amp-touch.amp-ad-break .amp-ad-container iframe {
  top: 0px;
  height: calc(100% - (2.86em - 0.25em)) !important;
  position: absolute !important;
}
.amp-buffering-overlay {
  display: none;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;
  line-height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7.2em;
  border: none;
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
.amp-buffering-overlay:before {
  content: "\f110";
}
.amp-waiting .amp-buffering-overlay,
.amp-qualitychange-manual .amp-buffering-overlay,
.amp-busy .amp-buffering-overlay {
  display: block;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.amp-airplay {
  width: 1.35em;
  font: normal normal normal 13px/1 FontAwesome;
}
.amp-airplay:before {
  content: "\e900";
}
.amp-playback-target-airplay .amp-controls {
  bottom: 0px;
}
.amp-playback-target-airplay .amp-pause-overlay {
  display: none;
}
.amp-playback-target-airplay .amp-progress {
  bottom: 2.61em !important;
}
@media only screen and (max-width: 1024px) {
  .amp-ui.amp-mobile {
    font: normal normal normal 24px/1 Arial;
  }
  .amp-mobile .amp-pause-overlay {
    font-size: 2.1em;
  }
  .amp-mobile .amp-buffering-overlay {
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 700px) {
  .amp-ui.amp-mobile {
    font: normal normal normal 20px/1 Arial;
  }
  .amp-mobile .amp-pause-overlay {
    font-size: 1.8em;
  }
  .amp-active.amp-touch.amp-mobile .amp-captioning .amp-caption-text {
    bottom: 3.36em !important;
  }
  .amp-touch.amp-mobile .amp-captioning .amp-caption-text {
    bottom: 0.2em !important;
  }
  .amp-mobile .amp-jump-forward,
  .amp-mobile .amp-jump-back {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .amp-ui.amp-full-screen.amp-mobile {
    font: normal normal normal 17px/1 Arial;
  }
  .amp-controls.amp-mobile .amp-icon.amp-control {
    margin: 0em 0.4em 0em 0.4em;
  }
  .amp-controls.amp-mobile .amp-playpause.amp-icon.amp-control {
    margin-left: 0.8em;
  }
  .amp-controls.amp-mobile .amp-fullscreen.amp-icon.amp-control {
    margin-right: 0.8em;
  }
}
@media only screen and (max-width: 320px) {
  .amp-ui.amp-full-screen.amp-mobile {
    font: normal normal normal 15px/1 Arial;
  }
  .amp-controls.amp-mobile .amp-icon.amp-control {
    margin: 0em 0.4em 0em 0.4em;
  }
  .amp-controls.amp-mobile .amp-playpause.amp-icon.amp-control {
    margin-left: 0.8em;
  }
  .amp-controls.amp-mobile .amp-fullscreen.amp-icon.amp-control {
    margin-right: 0.8em;
  }
}
.amp-pip {
  width: 1.4em;
}
.amp-pip:before {
  content: "\e901";
}
.amp-picture-in-picture .amp-pip:before {
  content: "\e903";
}
.amp-chromecast {
  background-image: url("chromecast.svg");
  width: 1.25em;
  height: 1.25em;
  background-size: cover;
}
.amp-chromecast:hover {
  background-image: url("chromecast-over.svg");
}
.amp-ad-break .amp-playback-rate {
  display: none;
}
.amp-ad-break .amp-playback-rate-button {
  display: none;
}
.amp-unmute-layer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.amp-muted .amp-unmute-layer {
  display: block;
}
.amp-unmute {
  top: 1em;
  right: 0.75em;
  width: 1.75em;
  height: 1.5em;
  position: absolute;
  border-radius: 0.25em;
  pointer-events: all;
}
.amp-unmute .amp-ad-break {
  top: 2em;
}
.amp-unmute:before {
  content: "\f026";
}
.amp-unmute:after {
  position: relative;
  content: "x";
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  top: -0.14em;
  left: 0.1em;
  vertical-align: middle;
}
.amp-auth-chooser {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  max-width: 600px;
  max-height: 340px;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
  pointer-events: all;
  position: absolute;
  z-index: 200;
}
.amp-auth-chooser-title {
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  margin: 4% auto 3% auto;
}
.amp-auth-chooser-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  margin: 5% auto;
  pointer-events: none;
}
.amp-auth-chooser-label {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  color: #FFFFFF;
  padding: 0px 3%;
}
.amp-auth-chooser-select {
  display: inline;
  -webkit-border-radius: 0px;
  height: 25px;
  width: 40%;
  pointer-events: all;
}
.amp-auth-chooser-login {
  display: inline;
  background-color: #666666;
  color: #FFFFFF;
  border: none;
  height: 25px;
  width: 20%;
  margin: 0px 3%;
  pointer-events: all;
  cursor: pointer;
}
.amp-auth-chooser-grid {
  margin-left: 2%;
}
.amp-auth-chooser-grid-item {
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #333333;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  width: 20%;
  height: 10%;
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
  margin: 1%;
}
.amp-auth-chooser-grid-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0px 2px;
}
.amp-auth-chooser-grid-item img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.amp-authenticating .amp-media-element {
  width: 0px;
  height: 0px;
  z-index: -100;
}
.amp-auth-chooser-grid-cell-label {
  font-size: 14px;
}
img + .amp-auth-chooser-grid-cell-label {
  display: none;
}
.amp-auth-chooser-grid-cell-img {
  display: block;
}
.amp-vr {
  width: 1.4em;
}
.amp-vr:before {
  content: "\e902";
}
.amp-hint-component {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  padding: 0.1em;
  text-align: center;
  font: normal normal normal 11px/1 sans-serif;
}
.amp-hint-fixed.amp-hint-component  {
  position: fixed;
}
.amp-hint-container {
  padding: 5px;
  position: absolute;
  cursor: default;
  animation: 0.5s fadeIn;
}
.amp-hint-container:after {
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.48em solid transparent;
}
.amp-hint__content {
  padding: 0.6em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.712);
}
.amp-hint-container--top:after {
  top: auto;
  border-bottom: none;
  border-top-color: rgba(0, 0, 0, 0.712);
}
.amp-hint-container--left:after {
  left: auto;
  border-right: none;
  border-left-color: rgba(0, 0, 0, 0.712);
}
.amp-hint-container--right:after {
  right: auto;
  border-left: none;
  border-right-color: rgba(0, 0, 0, 0.712);
}
.amp-hint-container--bottom:after {
  bottom: auto;
  border-top: none;
  border-bottom-color: rgba(0, 0, 0, 0.712);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
